html, body {
  height: 100%;
  margin: 0;
  background: #03040b;
}

#__nuxt {
  height: 100%;
  min-height: 100dvh;
}

* { box-sizing: border-box; }

body {
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}
